/* Universal Styles */

* {
    box-sizing: border-box;
}

body { 
    margin: 0;  
}

.flex-container {
    display: flex;   
}

.main {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}

h2 {
    font-size: 35px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    margin: 16px 0;
    font-weight: bold;
}

h4 {
    font-size: 18px;
    line-height: 1.7;
}

h5 {
    font-weight: bold;
}

/* Header Section */


header {
    height: 64px;
    align-items: center;
    margin: 0 24px;
}

.desctop-logo img {
    height: 50px;
}
header .academy-name {
    margin: auto;
    font-size: 30px;
    font-family: 'Noto Sans', sans-serif;
}

header strong {
    font-weight: bold;
}

header .desctop {
    flex-grow: 1;
    text-align: right;
}

.desctop ul li {
    display: inline;
    margin: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.desctop a {
    color: #691208;
}

header .mobile {
    display: none;
}

@media only screen and (max-width: 780px) {

    header {
        height: 64px;
    }

    header .desctop-logo {
        display: none;
    }

    header .desctop {
        display: none;
    }

    header .mobile {
        display: block;
        width: 100%;
    } 

    header .mobile ul {
        display: flex;
        justify-content: space-between;
    }

    .mobile ul img {
        height: 35px;
    }
}

/* Main Section */

/* Banner Section */

#banner {
    background-color: #DACAC8
}

.banner-image {
    width: 60%;
    
}

#banner img {
    width: 100%;
    height: auto;
    padding: 32px 24px;
}

div .banner-text {
    width: 40%;
    align-items: center;
    justify-content: center;
}

.banner-text .text-container {
    flex-direction: column;
    width: 60%;
    height: 70%;
    margin-top: 100px;
    text-align: center;
}

div .button {
    margin-top: 60px;
    padding: 12px 30px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    background-color: #691208;
    border-radius: 20px;
}

.button a {
    color: white;
}

@media only screen and (max-width: 780px) {

    #banner {
        display: block;
    }
  
    .banner-image {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  
    #banner img {
        padding: 0;
        margin: 0;
    }
  
    div .banner-text {
        width: 100%;
        margin: 0;
    }
  
    .banner-text .text-container {
      margin: 32px 16px;
    }
  
  }

/* Information Section */

.left-section {
   width: 60%;
   padding: 32px 24px;
}

.left-section img {
    width: 100%;
    height: auto;
}

.left-section h2 {
    padding-top: 32px;
    padding-bottom: 24px;
}

.left-section h5 {
    padding: 40px 0;
} 

.right-section {
    width: 40%;
    margin-top: 16px;
}

.event {
    border: 0.07px solid #E4B4AF;
    margin: 0.5px;
}

.event .desctop {
    width: 35%;
    margin: 16px;
}

.event .mobile {
    display: none;
}

.right-section .guest {
    background-color: #DACAC8;
}

.right-section h3 {
    margin-top: 50px;
    color: #691208;
}

.right-section .read {
    color: blue;
}

@media only screen and (max-width: 780px) {
  
    .left-section {
        display: none;
    }

    .right-section{
        width: 100%;
    }

    .event .desctop {
        display: none;
    }

    .event .mobile {
        display: block;
        width: 100%;
    }

    .event {
        display: block;
        margin: 16px;
    }

    .right-section {
        margin: 0;
    }

    .right-section .text-container {
        margin: 15px;
        padding-left: 16px;
    }

    .text-container h3 {
        margin-top: 30px;
    }

    .text-container h4 {
        margin-top: 16px;
    }
}

/* Courses Section */

#courses {
    background-color: #DACAC8;
    margin-top: 32px;
    padding-bottom: 32px;
}

#courses h2 {
   text-align: center;
   padding-top: 32px;
}

.courses-container {
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    margin: 16px 72px;
}

.course {
    width: 30%;
    margin: 16px;
    background-color: white;
}

.course-image img {
    width: 100%;
    height: auto;
}

.course h4 {
    margin: 4px 0;
}

.course-info {
    padding-left: 16px;
}

@media only screen and (max-width: 780px) {

     #courses h2 {
        padding-bottom: 16px;
     }

     .course-image, 
     .course-info h4 {
        display: none;
    }

    .course h3 {
        margin-top: 28px;
        
    }

    .courses-container {
        width: 100%;
        margin: 0;
        padding: 20px;
        flex-direction: column;
        overflow: auto;
        border: 1px solid red;
    }

    .course {
        width: 100%;
        margin: 8px 0;
        height: 80px;
        
        
        border: 1px solid red;
    }
}

/* Thesis Section */

#thesis h2 {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 8px;
}

.left-container {
    width: 60%;
    margin: 24px;
}

.left-container video {
    width: 100%;
}

.video-info h3 {
    color: #691208;
}

.right-container {
    width: 40%;
    margin-top: 24px;
}

.thesis-img {
    width: 35%;

}
.thesis img {
    height: auto;
    width: 100%;
    padding: 16px;
}

.thesis-info {
    width: 65%;
}

.thesis-info h3 {
    padding-top: 30px;
}

.right-container .first {
    background-color: #DACAC8;
}


/* Footer Section */

footer {
    padding: 16px 24px;
    font-size: 16px;
}

footer nav {
    flex-grow: 1;
    text-align: right;
}

footer a {
    margin: 10px;
}