/* Universal Styles */

body { 
    margin: 0;  
}

.flex-container {
    display: flex;   
}

.main {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}

h2 {
    font-size: 35px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    margin: 30px 0;
    font-weight: bold;
}

h4 {
    font-size: 18px;
    line-height: 1.7;
}
/* Header Section */


header {
    height: 64px;
    align-items: center;
    margin: 0 24px;
}

header img {
    height: 36px;
}
header .academy-name {
    margin: auto;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
}

header strong {
    font-weight: bold;
}

header nav {
    flex-grow: 1;
    text-align: right;
}

header ul li {
    display: inline;
    margin: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

header a {
    color: gray;
}


/* Main Section */

/* Banner Section */

#banner {
    background-color: lightgrey;
}

.banner-image-container {
    width: 60%;
}

#banner img {
    width: 100%;
    margin: 32px 24px;
}

div .banner-text {
    position: relative;
    flex-direction: column;
    width: 400px;
    left: 48px;
    margin-top: 90px;
    padding-top: 90px;
    height: 400px;
}

div .button {
    margin-top: 60px;
    padding: 12px 30px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
    background-color: darkslategrey;
}

/* Information Section */

#information {
    
}

.right-side {
    
    width: 60%;
    
}

.right-side img {
    
    width: 100%;
    margin: 32px 24px;
}

.right-side .text-container {
    margin-left: 24px;
    
    height: 200px;
}

.right-side h4 {
    
    margin: 24px 0;
}

.right-side h5 {
    margin: 32px 0;
    font-weight: bold;
    
}

.left-side {
    
}

/* Courses Section */

/* Thesis Section */

/* Footer Section */